<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/RTBayanes_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-2">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Rochelle T. Bayanes</h3><span>rtbayanes@fda.gov.ph</span>
                    </a>
                    <div class="contributions">
                        Inspections: 950 Inspections <br>
                        PMS: 90 Products
                    </div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>340</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>460</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/NDNavarro_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-1">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Nadia D. Navarro</h3><span>ndnavarro@fda.gov.ph</span>
                    </a>
                    <div class="contributions">
                        Inspections: 950 Inspections <br>
                        PMS: 90 Products
                    </div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>80</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>420</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>272</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/GGMonang_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-4">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Giovanni G. Monang</h3><span>ggmonang@fda.gov.ph</span>
                    </a>
                    <div class="contributions">
                        Inspections: 950 Inspections <br>
                        PMS: 90 Products
                    </div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>280</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>190</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>