<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="stats-3"><strong class="d-block"><a>ACCOMPLISHMENTS THIS MONTH ({{curr_date}})</a></span>
            <div class="progress progress-template progress-small">
                <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-4"></div>
            </div>
        </div><br>
        <div class="row">
            {% for inspector in inspectors %}
                <div class="col-lg-4">
                    <div class="user-block block text-center">
                        <!-- <div class="avatar"><img src="/static/darkadmin/img/RTBayanes_ID.jpg" alt="..." class="img-fluid"> -->
                            <div class="avatar"><img src='{{inspector.img}}' alt="..." class="img-fluid">
                            <div class="order dashbg-2">II</div>
                        </div>
                        <a href="#" class="user-title">
                            <h3 class="h5">{{inspector.inspector.get_full_name}}</h3><span>{{inspector.inspector.email}}</span>
                        </a>
                        <div class="contributions">
                            Apps Received: {{inspector.appsreceived}}
                        </div>
                        <div class="contributions">
                            Products: {{inspector.products}}
                        </div>
                        <div class="contributions">
                            Establishment: {{inspector.pli}}
                        </div>
                        <div class="details d-flex">
                            <div class="item" data-toggle="tooltip" title="Apps Received This Year"><i class="icon-info"></i><strong>{{inspector.appsreceived_yearly}}</strong></div>
                            <div class="item" data-toggle="tooltip" title="Products This Year"><i class="fa fa-gg"></i><strong>{{inspector.products_yearly}}</strong></div>
                            <div class="item" data-toggle="tooltip" title="PLI's This Year"><i class="icon-flow-branch"></i><strong>{{inspector.pli_yearly}}</strong></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>