<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="stats-3"><strong class="d-block"><a>ESTABLISHMENT SUMMARY</a></span>
            <div class="progress progress-template progress-small">
                <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-3"></div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>DS/RONPD</a></strong>
                        </div>
                        <div class="number dashtext-1">{{cdrr.total_ds_ronpd}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>DD</a></strong>
                        </div>
                        <div class="number dashtext-1">{{cdrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>HP</a></strong>
                        </div>
                        <div class="number dashtext-2">{{cdrr.total_hp}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>FM/P/R/T</a></strong>
                        </div>
                        <div class="number dashtext-3">{{cfrr.total_m_p_r_t}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>FD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cfrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>MD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cdrrhr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>XRAY</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cdrrhr.total_xray}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>CM/P/R/T</a></strong>
                        </div>
                        <div class="number dashtext-4">{{ccrr.total_m_p_r_t}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>CD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{ccrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a>ALL (Active)</a></strong>
                        </div>
                        <div class="number dashtext-4">{{total_all}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-5"></div>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">

        {% for attr, value in provinces %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="stats-3-block block d-flex">
                        <div class="stats-3"><strong class="d-block">{{value.get_total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">{{attr}}</a></span>
                            <div class="progress progress-template progress-small">
                                <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-4"></div>
                            </div>
                        </div>
                        <div class="stats-3 d-flex justify-content-between text-center">
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_ds_ronpd}}</strong>
                                <span class="d-block span-sm">
                                    <a>DS/RONPD</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <a>DD</a>
                                </span>
                                <!-- <div class="line"></div><small>+246</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_hp}}</strong>
                                <span class="d-block span-sm">
                                    <a>HP</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cfrr.get_total_m_p_r_t}}</strong>
                                <span class="d-block span-sm">
                                    <a>FM/P/R/T</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cfrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <a>FD</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrrhr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <a>MD</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrrhr.get_total_xray}}</strong>
                                <span class="d-block span-sm">
                                    <a>XRay</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.ccrr.get_total_m_p_r_t}}</strong>
                                <span class="d-block span-sm">
                                    <a>CM/P/R/T</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.ccrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <a>CD</a>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>