{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Abra List  {% endblock %}
{% block subtitle %} ABRA {% endblock %}

{% block content-title %}
List of Establishments - ABRA
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Abra
{% endblock %}

{% block btn-name-all %}
btn-abra
{% endblock %}

{% block btn-name-food %}
btn-abra
{% endblock %}

{% block btn-name-drug %}
btn-abra
{% endblock %}

{% block btn-name-cosmetic %}
btn-abra
{% endblock %}

{% block btn-name-device %}
btn-abra
{% endblock %}

{% block table-name %}
"abra_list_table"
{% endblock %}
