{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Apayao List  {% endblock %}
{% block subtitle %} APAYAO {% endblock %}

{% block content-title %}
List of Establishments - APAYAO
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Apayao
{% endblock %}

{% block btn-name-all %}
btn-apayao
{% endblock %}

{% block btn-name-food %}
btn-apayao
{% endblock %}

{% block btn-name-drug %}
btn-apayao
{% endblock %}

{% block btn-name-cosmetic %}
btn-apayao
{% endblock %}

{% block btn-name-device %}
btn-apayao
{% endblock %}

{% block table-name %}
"apayao_list_table"
{% endblock %}
