{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Baguio City List  {% endblock %}
{% block subtitle %} BAGUIO CITY {% endblock %}

{% block content-title %}
List of Establishments - BAGUIO CITY
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Baguio City
{% endblock %}

{% block btn-name-all %}
btn-baguio
{% endblock %}

{% block btn-name-food %}
btn-baguio
{% endblock %}

{% block btn-name-drug %}
btn-baguio
{% endblock %}

{% block btn-name-cosmetic %}
btn-baguio
{% endblock %}

{% block btn-name-device %}
btn-baguio
{% endblock %}

{% block table-name %}
"baguio_list_table"
{% endblock %}
