{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Benguet List  {% endblock %}
{% block subtitle %} BENGUET {% endblock %}

{% block content-title %}
List of Establishments - BENGUET
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Benguet
{% endblock %}

{% block btn-name-all %}
btn-benguet
{% endblock %}

{% block btn-name-food %}
btn-benguet
{% endblock %}

{% block btn-name-drug %}
btn-benguet
{% endblock %}

{% block btn-name-cosmetic %}
btn-benguet
{% endblock %}

{% block btn-name-device %}
btn-benguet
{% endblock %}

{% block table-name %}
"benguet_list_table"
{% endblock %}
