{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Closed Establishments  {% endblock %}
{% block subtitle %} MASTER LIST {% endblock %}

{% block tabs %}
    {% include 'partial/masterlist_tabs.html' %}
{% endblock %}

{% block content-title %}
List of Closed Establishments
{% endblock %}

{% block content-subtitle %}
Displayed is the list of closed establishments
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#all_list_table').DataTable();
    });
</script>
{% endblock %}