{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Closed Establishments  {% endblock %}
{% block subtitle %} MASTER LIST {% endblock %}

{% block tabs %}
    {% include 'partial/masterlist_tabs.html' %}
{% endblock %}

{% block content-title %}
List of Closed Establishments
{% endblock %}

{% block content-subtitle %}
Displayed is the list of closed establishments
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    var alltable = $('#all_list_table').DataTable ({
        'ajax': '/api/est-list/closed/?format=datatables',
    });

    $('.btn-prod-type').on('click', function() {
        alltable.columns().search('');
        var rel = $(this).attr('rel');
        if (rel) {
            alltable.columns(3).search(rel).draw();
        } else {
            alltable.draw();
        }
    });

    // Add event listener for opening and closing details
    $('#all_list_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).parents('tr');
        var row = alltable.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
});
</script>
{% endblock %}