{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Ifugao List  {% endblock %}
{% block subtitle %} IFUGAO {% endblock %}

{% block content-title %}
List of Establishments - IFUGAO
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Ifugao
{% endblock %}

{% block btn-name-all %}
btn-ifugao
{% endblock %}

{% block btn-name-food %}
btn-ifugao
{% endblock %}

{% block btn-name-drug %}
btn-ifugao
{% endblock %}

{% block btn-name-cosmetic %}
btn-ifugao
{% endblock %}

{% block btn-name-device %}
btn-ifugao
{% endblock %}

{% block table-name %}
"ifugao_list_table"
{% endblock %}
