{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} On-going Establishments  {% endblock %}
{% block subtitle %} ON-GOING {% endblock %}

{% block tabs %}
    {% include 'partial/masterlist_tabs.html' %}
{% endblock %}

{% block content-title %}
List of Inactive Establishments
{% endblock %}

{% block content-subtitle %}
Displayed is the list of Ongoing applications
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#all_list_table').DataTable();
    });
</script>
{% endblock %}