{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Inactive Establishments  {% endblock %}
{% block subtitle %} MASTER LIST {% endblock %}

{% block tabs %}
    {% include 'partial/masterlist_tabs.html' %}
{% endblock %}

{% block content-title %}
List of Inactive Establishments
{% endblock %}

{% block content-subtitle %}
Displayed is the list of inactive establishments
{% endblock %}

{% block btn-name-all %}
btn-est-inactive
{% endblock %}

{% block btn-name-food %}
btn-est-inactive
{% endblock %}

{% block btn-name-drug %}
btn-est-inactive
{% endblock %}

{% block btn-name-cosmetic %}
btn-est-inactive
{% endblock %}

{% block btn-name-device %}
btn-est-inactive
{% endblock %}

{% block table-name %}
"inactive_table"
{% endblock %}