{% extends 'base-site.html' %}
{% block title %} Establishment List  {% endblock %}
{% block subtitle %} MASTER LIST {% endblock %}

{% block content %}
<section class="no-padding-top">
    <div class="container-fluid">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
                <a class="nav-item nav-link" id="nav-food-tab" data-toggle="tab" href="#nav-food" role="tab" aria-controls="nav-food" aria-selected="false">Food</a>
                <a class="nav-item nav-link" id="nav-drug-tab" data-toggle="tab" href="#nav-drug" role="tab" aria-controls="nav-drug" aria-selected="false">Drug</a>
                <a class="nav-item nav-link" id="nav-cosmetic-tab" data-toggle="tab" href="#nav-cosmetic" role="tab" aria-controls="nav-cosmetic" aria-selected="false">Cosmetic</a>
                <a class="nav-item nav-link" id="nav-device-tab" data-toggle="tab" href="#nav-device" role="tab" aria-controls="nav-device" aria-selected="false">Medical Devices</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                {% include 'masterlist/establishment-list.html' %}
            </div>
            <div class="tab-pane fade" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">

            </div>
            <div class="tab-pane fade" id="nav-drug" role="tabpanel" aria-labelledby="nav-drug-tab">...</div>
            <div class="tab-pane fade" id="nav-cosmetic" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-device" role="tabpanel" aria-labelledby="nav-device-tab">...</div>
        </div>

    </div>
</section>
{% endblock %}
