{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Establishment List  {% endblock %}
{% block subtitle %} MASTER LIST {% endblock %}

{% block tabs %}
    {% include 'partial/masterlist_tabs.html' %}
{% endblock %}

{% block content-title %}
List of Establishments
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments
{% endblock %}

{% block btn-name-all %}
btn-est
{% endblock %}

{% block btn-name-food %}
btn-est
{% endblock %}

{% block btn-name-drug %}
btn-est
{% endblock %}

{% block btn-name-cosmetic %}
btn-est
{% endblock %}

{% block btn-name-device %}
btn-est
{% endblock %}

{% block table-name %}
"all_list_table"
{% endblock %}
