{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Kalinga List  {% endblock %}
{% block subtitle %} KALINGA {% endblock %}

{% block content-title %}
List of Establishments - KALINGA
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Kalinga
{% endblock %}

{% block btn-name-all %}
btn-kalinga
{% endblock %}

{% block btn-name-food %}
btn-kalinga
{% endblock %}

{% block btn-name-drug %}
btn-kalinga
{% endblock %}

{% block btn-name-cosmetic %}
btn-kalinga
{% endblock %}

{% block btn-name-device %}
btn-kalinga
{% endblock %}

{% block table-name %}
"kalinga_list_table"
{% endblock %}
