{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Mountain Province List  {% endblock %}
{% block subtitle %} MOUNTAIN PROVINCE {% endblock %}

{% block content-title %}
List of Establishments - KALINGA
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Mountain Province
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    var alltable = $('#all_list_table').DataTable ({
        'ajax': '/api/est-list/mountain/?format=datatables',
    });

    $('.btn-prod-type').on('click', function() {
        alltable.columns().search('');
        var rel = $(this).attr('rel');
        if (rel) {
            alltable.columns(2).search(rel).draw();
        } else {
            alltable.draw();
        }
    });
});
</script>
{% endblock %}
