{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Mountain Province List  {% endblock %}
{% block subtitle %} MOUNTAIN PROVINCE {% endblock %}

{% block content-title %}
List of Establishments - KALINGA
{% endblock %}

{% block content-subtitle %}
Displayed is the list of active establishments of Mountain Province
{% endblock %}

{% block btn-name-all %}
btn-mountain
{% endblock %}

{% block btn-name-food %}
btn-mountain
{% endblock %}

{% block btn-name-drug %}
btn-mountain
{% endblock %}

{% block btn-name-cosmetic %}
btn-mountain
{% endblock %}

{% block btn-name-device %}
btn-mountain
{% endblock %}

{% block table-name %}
"mountain_list_table"
{% endblock %}
