{% extends 'masterlist/partial/add-establishment-base.html' %}
{% load widget_tweaks %}
{% block addsteps %}
<div class="title">
    <strong>Warehouse Address</strong>
</div>
<form class="form-horizontal" id="plantaddressform" method="post" action="{% url 'masterlist:steptwo-b' %}" data-cities-url="{% url 'masterlist:ajax_load_cities' %}"
      data-provinces-url="{% url 'masterlist:ajax_load_provinces' %}" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <label class="col-sm-3 form-control-label">{{ field.label }}</label>
        <div class="col-sm-9">
            {{ field|add_class:'form-control' }}
        </div>
    </div>
    <div class="line"></div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-9 ml-auto">
            <button type="submit" class="btn btn-secondary">Back</button>
            <button type="submit" class="btn btn-primary">Next Step</button>
        </div>
    </div>
</form>
{% endblock %}