{% extends 'masterlist/partial/base.html' %}
{% block title %} PLI Summary  {% endblock %}
{% block subtitle %} PLI {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong>CFRR</strong>
        </div>
        <div class="number dashtext-1">27</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong>CDRR</strong>
        </div>
        <div class="number dashtext-2">27</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong>CCRR</strong>
        </div>
        <div class="number dashtext-3">27</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong>CDRRHR</strong>
        </div>
        <div class="number dashtext-4">27</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
      </div>
    </div>
  </div>
</div>

<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">FOOD</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-1"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">4.124</strong><span class="d-block span-sm">FM</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">FT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">FW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">FI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">FE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">DRUG</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-1"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">4.124</strong><span class="d-block span-sm">DS</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">4.124</strong><span class="d-block span-sm">DM</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">DT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">DW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">DI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">2.147</strong><span class="d-block span-sm">DE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
