{% extends 'masterlist/partial/base.html' %}
{% block title %} Establishment Create {% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="title">
                <strong>Add an Establishment</strong>
                <span class="d-block">Register new establishment</span>
            </div>
            <div class="block-body">
                {% block addsteps %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}