<table id="all_list_table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name of Establishment</th>
            <th>Address</th>
            <th>Product Type</th>
            <th>Primary Activity</th>
            <th>Specific Activity</th>
            <th>LTO No.</th>
            <th>Expiry</th>
            <th>Last Inspection</th>
            <th>Inspection Type</th>
            <th>Next Inspection</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for establishment in establishments %}
            <tr>
                <td>
                    <a href="{% url 'masterlist:est-detail' establishment.id %}">{{establishment.name}}</a>
                </td>
                <td>{{establishment.plant_address.full_address}}</td>
                <td>{{establishment.product_type.name}}</td>
                <td>{{establishment.primary_activity.name}}</td>
                <td>{{establishment.specific_activities}}</td>
                <td>{{establishment.ltos.latest.lto_number}}</td>
                <td>{{establishment.ltos.latest.expiry}}</td>
                <td>{{establishment.record.get_last_inspection}}</td>
                <td>{{establishment.record.get_inspection_type}}</td>
                <td>{{establishment.record.get_next_inspection}}</td>
                <td>{{establishment.status}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>