<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link {{abra_list_active}}" href="{% url 'masterlist:abra-list' %}">Abra</a>
    <a class="nav-item nav-link {{apayao_list_active}}" href="{% url 'masterlist:apayao-list' %}">Apayao</a>
    <a class="nav-item nav-link {{baguio_list_active}}" href="{% url 'masterlist:baguio-list' %}">Baguio City</a>
    <a class="nav-item nav-link {{benguet_list_active}}" href="{% url 'masterlist:benguet-list' %}">Benguet</a>
    <a class="nav-item nav-link {{ifugao_list_active}}" href="{% url 'masterlist:ifugao-list' %}">Ifugao</a>
    <a class="nav-item nav-link {{kalinga_list_active}}" href="{% url 'masterlist:kalinga-list' %}">Kalinga</a>
    <a class="nav-item nav-link {{mountain_list_active}}" href="{% url 'masterlist:mountain-list' %}">Mountain Province</a>
</nav>