{% extends 'base-site.html' %}
{% block title %} Incoming  {% endblock %}
{% block subtitle %} INCOMING {% endblock %}

{% block content %}
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>List of Incomings</strong>
                                <span class="d-block">Displayed is the list of incoming documents</span>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-primary" href="{% url 'admin:incoming_incoming_add' %}" target="_blank">Add an Incoming</a>
                            </div>
                        </div>
                    </div>

                    <div class="block-body">
                        <div class="table-responsive">
                            <table id="incoming_list_table" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>DTN</th>
                                        <th>Month</th>
                                        <th>Date Received</th>
                                        <th>Received by</th>
                                        <th>Received from </th>
                                        <th>Received from (Establishment Name)</th>
                                        <th>Document Type</th>
                                        <th>Particulars</th>
                                        <th>Endorsed to</th>
                                        <th>Date Endorsed</th>
                                        <th>Date Acted Upon</th>
                                        <th>Action Taken</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    var incoming_cols = [
          {
              'data': 'tracking_number',
              'name': 'tracking_number',
              'render': function(data, type, row, meta){
                  if(type === 'display') {
                      var url = "{% url 'admin:incoming_incoming_change' 0 %}";
                      var id = row.DT_RowAttr.pkey;
                      url = url.replace(0, id);
                      data = '<a href="' + url + '" target="_blank">' + data + '</a>';
                  }
                  return data;
              }
          },
          {'data': 'month',                 'name': 'month', 'searchable': false},
          {'data': 'date_received',         'name': 'date_received', 'searchable': false},
          {'data': 'received_by',           'name': 'received_by', 'searchable': false},
          {'data': 'received_from',         'name': 'received_from'},
          {'data': 'received_from_1',       'name': 'received_from_1'},
          {'data': 'document_type',         'name': 'document_type', 'searchable': false},
          {'data': 'particulars',           'name': 'particulars'},
          {'data': 'endorsed_to',           'name': 'endorsed_to', 'searchable': false},
          {'data': 'date_endorsed',         'name': 'date_endorsed',    'searchable': false},
          {'data': 'date_acted_upon',       'name': 'date_acted_upon', 'searchable': false},
          {'data': 'actions_taken',         'name': 'actions_taken', 'searchable': false},
    ];

    var alltable = $('#incoming_list_table').DataTable ({
        'ajax': '/api/incoming/all/?format=datatables',
        'columns': incoming_cols,
    });

});
</script>
{% endblock %}
