{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} Renewal Checklist  {% endblock %}
{% block subtitle %} RENEWAL CHECKLIST {% endblock %}

{% block content-title %}
List of Establishments for Renewal
{% endblock %}

{% block content-subtitle %}
Displayed is the list of establishments for Renewal
{% endblock %}

{% block btn-name-all %}
btn-ren
{% endblock %}

{% block btn-name-food %}
btn-ren
{% endblock %}

{% block btn-name-drug %}
btn-ren
{% endblock %}

{% block btn-name-cosmetic %}
btn-ren
{% endblock %}

{% block btn-name-device %}
btn-ren
{% endblock %}

{% block table-name %}
"ren_list_table"
{% endblock %}
