{% extends 'masterlist/partial/base.html' %}
{% block title %} Renewal Checklist  {% endblock %}
{% block subtitle %} RENEWAL CHECKLIST {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="title">
                <strong>Renewal Checklist</strong>
                <span class="d-block">Displayed is the list of establishments for Renewal Inspection</span>
            </div>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                  <form action="" method='get'>
                    {% csrf_token %}
                    {% include 'masterlist/partial/search_input.html' %}
                  </form>
                </div>
            </div>
            <div class="block-body">
                {% include 'checklist/partial/search_result.html' %}
                <br>
                {% include 'masterlist/partial/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
