{% extends 'masterlist/partial/masterlist-base.html' %}
{% block title %} PLI Checklist  {% endblock %}
{% block subtitle %} PLI CHECKLIST {% endblock %}

{% block content-title %}
List of Establishments for PLI
{% endblock %}

{% block content-subtitle %}
Displayed is the list of establishments for PLI
{% endblock %}

{% block btn-name-all %}
btn-pli
{% endblock %}

{% block btn-name-food %}
btn-pli
{% endblock %}

{% block btn-name-drug %}
btn-pli
{% endblock %}

{% block btn-name-cosmetic %}
btn-pli
{% endblock %}

{% block btn-name-device %}
btn-pli
{% endblock %}

{% block table-name %}
"pli_list_table"
{% endblock %}
