{% extends 'masterlist/partial/base.html' %}
{% block title %} PLI Summary  {% endblock %}
{% block subtitle %} PLI {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:food-list' %}" target="_blank">CFRR</a></strong>
        </div>
        <div class="number dashtext-1">{{cfrr.total}}</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:drug-list' %}" target="_blank">CDRR</a></strong>
        </div>
        <div class="number dashtext-2">{{cdrr.total}}</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:cosmetic-list' %}" target="_blank">CCRR</a></strong>
        </div>
        <div class="number dashtext-3">{{ccrr.total}}</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
      <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
          <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:medicaldevice-list' %}" target="_blank">CDRRHR</a></strong>
        </div>
        <div class="number dashtext-4">{{cdrrhr.total}}</div>
      </div>
      <div class="progress progress-template">
        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
      </div>
    </div>
  </div>
</div>

<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">CFRR</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-1"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">{{cfrr.total_mfg}}</strong><span class="d-block span-sm"><a href="#">FM</a></span>
            <input name="q" type="hidden" value="Manufacturer">
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cfrr.total_trader}}</strong><span class="d-block span-sm">FT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cfrr.total_wholesaler}}</strong><span class="d-block span-sm">FW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cfrr.total_importer}}</strong><span class="d-block span-sm">FI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cfrr.total_exporter}}</strong><span class="d-block span-sm">FE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">CDRR</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-2"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_hp}}</strong><span class="d-block span-sm">HP</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_ds}}</strong><span class="d-block span-sm">DS</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_mfg}}</strong><span class="d-block span-sm">DM</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_trader}}</strong><span class="d-block span-sm">DT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_wholesaler}}</strong><span class="d-block span-sm">DW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_importer}}</strong><span class="d-block span-sm">DI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrr.total_importer}}</strong><span class="d-block span-sm">DE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">CCRR</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-3"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">{{ccrr.total_mfg}}</strong><span class="d-block span-sm">CM</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{ccrr.total_trader}}</strong><span class="d-block span-sm">CT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{ccrr.total_wholesaler}}</strong><span class="d-block span-sm">CW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{ccrr.total_importer}}</strong><span class="d-block span-sm">CI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{ccrr.total_exporter}}</strong><span class="d-block span-sm">CE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="stats-3-block block d-flex">
          <div class="stats-3"><strong class="d-block">CDRRHR</strong>
            <div class="progress progress-template progress-small">
              <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-4"></div>
            </div>
          </div>
          <div class="stats-3 d-flex justify-content-between text-center">
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_xray}}</strong><span class="d-block span-sm">XRAY</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_mfg}}</strong><span class="d-block span-sm">MDM</span>
              <!-- <div class="line"></div><small>+246</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_trader}}</strong><span class="d-block span-sm">MDT</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_wholesaler}}</strong><span class="d-block span-sm">MDW</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_importer}}</strong><span class="d-block span-sm">MDI</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
            <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_exporter}}</strong><span class="d-block span-sm">MDE</span>
              <!-- <div class="line"></div><small>+416</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Inspectors -->
<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="user-block block text-center">
          <div class="avatar"><img src="/static/darkadmin/img/RTBayanes_ID.jpg" alt="..." class="img-fluid">
            <div class="order dashbg-2">II</div>
          </div><a href="#" class="user-title">
            <h3 class="h5">Rochelle T. Bayanes</h3><span>rtbayanes@fda.gov.ph</span></a>
            <div class="contributions">950 Contributions</div>
            <div class="details d-flex">
              <div class="item"><i class="icon-info"></i><strong>150</strong></div>
              <div class="item"><i class="fa fa-gg"></i><strong>340</strong></div>
              <div class="item"><i class="icon-flow-branch"></i><strong>460</strong></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="user-block block text-center">
            <div class="avatar"><img src="/static/darkadmin/img/NDNavarro_ID.jpg" alt="..." class="img-fluid">
              <div class="order dashbg-1">II</div>
            </div><a href="#" class="user-title">
              <h3 class="h5">Nadia D. Navarro</h3><span>ndnavarro@fda.gov.ph</span></a>
              <div class="contributions">772 Contributions</div>
              <div class="details d-flex">
                <div class="item"><i class="icon-info"></i><strong>80</strong></div>
                <div class="item"><i class="fa fa-gg"></i><strong>420</strong></div>
                <div class="item"><i class="icon-flow-branch"></i><strong>272</strong></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="user-block block text-center">
              <div class="avatar"><img src="/static/darkadmin/img/GGMonang_ID.jpg" alt="..." class="img-fluid">
                <div class="order dashbg-4">II</div>
              </div><a href="#" class="user-title">
                <h3 class="h5">Giovanni G. Monang</h3><span>ggmonang@fda.gov.ph</span></a>
                <div class="contributions">620 Contributions</div>
                <div class="details d-flex">
                  <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                  <div class="item"><i class="fa fa-gg"></i><strong>280</strong></div>
                  <div class="item"><i class="icon-flow-branch"></i><strong>190</strong></div>
                </div>
              </div>
            </div>
          </div>
</section>

<section class="no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="messages-block block">
        <div class="title"><strong>Recent Activities</strong></div>
        <div class="messages"><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="/static/darkadmin/img/avatar-3.jpg" alt="..." class="img-fluid">
        <div class="status online"></div>
        </div>
        <div class="content">   <strong class="d-block">Nadia Halsey</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:30am</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="/static/darkadmin/img/avatar-2.jpg" alt="..." class="img-fluid">
        <div class="status away"></div>
        </div>
        <div class="content">   <strong class="d-block">Peter Ramsy</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">7:40am</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="/static/darkadmin/img/avatar-1.jpg" alt="..." class="img-fluid">
        <div class="status busy"></div>
        </div>
        <div class="content">   <strong class="d-block">Sam Kaheil</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">6:55am</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="/static/darkadmin/img/avatar-5.jpg" alt="..." class="img-fluid">
        <div class="status offline"></div>
        </div>
        <div class="content">   <strong class="d-block">Sara Wood</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">10:30pm</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="/static/darkadmin/img/avatar-1.jpg" alt="..." class="img-fluid">
        <div class="status online"></div>
        </div>
        <div class="content">   <strong class="d-block">Nader Magdy</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:47pm</small></div></a></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bar-chart block chart">
          <div class="title"><strong>Bar Chart Example</strong></div>
          <div class="bar-chart chart">
            <canvas id="barChartCustom3"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
