{% extends 'base-site.html' %}
{% block title %} Dashboard  {% endblock %}
{% block subtitle %} DASHBOARD {% endblock %}

{% block content %}
<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:abra-list' %}" target="_blank">DS/RONPD</a></strong>
                        </div>
                        <div class="number dashtext-1">{{cdrr.total_ds_ronpd}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:abra-list' %}" target="_blank">DD</a></strong>
                        </div>
                        <div class="number dashtext-1">{{cdrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:apayao-list' %}" target="_blank">HP</a></strong>
                        </div>
                        <div class="number dashtext-2">{{cdrr.total_hp}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:baguio-list' %}" target="_blank">FM/P/R/T</a></strong>
                        </div>
                        <div class="number dashtext-3">{{cfrr.total_m_p_r_t}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:benguet-list' %}" target="_blank">FD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cfrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:ifugao-list' %}" target="_blank">MD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cdrrhr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:kalinga-list' %}" target="_blank">XRAY</a></strong>
                        </div>
                        <div class="number dashtext-4">{{cdrrhr.total_xray}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:mountain-list' %}" target="_blank">CM/P/R/T</a></strong>
                        </div>
                        <div class="number dashtext-4">{{ccrr.total_m_p_r_t}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:index' %}" target="_blank">CD</a></strong>
                        </div>
                        <div class="number dashtext-4">{{ccrr.total_dist}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><a href="{% url 'masterlist:index' %}" target="_blank">ALL (Active)</a></strong>
                        </div>
                        <div class="number dashtext-4">{{total_all}}</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="stats-3-block block d-flex">
                    <div class="stats-3"><strong class="d-block">{{cfrr.total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">CFRR</a></span>
                        <div class="progress progress-template progress-small">
                            <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-1"></div>
                        </div>
                    </div>
                    <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm">{{cfrr.total_mfg}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Trader">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">FM</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cfrr.total_trader}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Trader">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">FT</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cfrr.total_wholesaler}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Wholesaler">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">FW</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cfrr.total_importer}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Importer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">FI</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cfrr.total_exporter}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Exporter">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">FE</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="stats-3-block block d-flex">
                    <div class="stats-3"><strong class="d-block">{{cdrr.total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">CDRR</a></span>
                        <div class="progress progress-template progress-small">
                            <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-2"></div>
                        </div>
                    </div>
                    <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_hp}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Hospital Pharmacy">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">HP</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_ds}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Drugstore">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DS</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_mfg}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Manufacturer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DM</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_trader}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Trader">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DT</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_wholesaler}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Wholesaler">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DW</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_importer}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Importer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DI</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrr.total_importer}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Exporter">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">DE</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="stats-3-block block d-flex">
                    <div class="stats-3"><strong class="d-block">{{ccrr.total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">CCRR</a></span>
                        <div class="progress progress-template progress-small">
                            <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-3"></div>
                        </div>
                    </div>
                    <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm">{{ccrr.total_mfg}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Manufacturer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">CM</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{ccrr.total_trader}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Trader">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">CT</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{ccrr.total_wholesaler}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Wholesaler">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">CW</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{ccrr.total_importer}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Importer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">CI</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{ccrr.total_exporter}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Exporter">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">CE</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="stats-3-block block d-flex">
                    <div class="stats-3"><strong class="d-block">{{cdrrhr.total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">CDRRHR</a></span>
                        <div class="progress progress-template progress-small">
                            <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-4"></div>
                        </div>
                    </div>
                    <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_xray}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <button class="btn btn-link" type="submit" formtarget="_blank">XRAY</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_mfg}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Manufacturer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">MDM</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_trader}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Trader">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">MDT</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_wholesaler}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Wholesaler">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">MDW</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_importer}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Importer">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">MDI</button>
                                </form>
                            </span>
                        </div>
                        <div class="item"><strong class="d-block strong-sm">{{cdrrhr.total_exporter}}</strong>
                            <span class="d-block span-sm">
                                <form action="#" method="get">
                                    {%csrf_token%}
                                    <input name="q" type="hidden" value="Exporter">
                                    <button class="btn btn-link" type="submit" formtarget="_blank">MDE</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        {% for attr, value in provinces %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="stats-3-block block d-flex">
                        <div class="stats-3"><strong class="d-block">{{value.get_total}}</strong><span class="d-block"><a href="{% url 'masterlist:index' %}" target="_blank">{{attr}}</a></span>
                            <div class="progress progress-template progress-small">
                                <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-4"></div>
                            </div>
                        </div>
                        <div class="stats-3 d-flex justify-content-between text-center">
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_ds_ronpd}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <button class="btn btn-link" type="submit" formtarget="_blank">DS/RONPD</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Manufacturer">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">DD</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+246</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrr.get_total_hp}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Trader">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">HP</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cfrr.get_total_m_p_r_t}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Wholesaler">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">FM/P/R/T</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cfrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Importer">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">FD</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrrhr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Exporter">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">MD</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.cdrrhr.get_total_xray}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Exporter">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">XRay</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.ccrr.get_total_m_p_r_t}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Exporter">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">CM/P/R/T</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                            <div class="item"><strong class="d-block strong-sm">{{value.ccrr.get_total_dist}}</strong>
                                <span class="d-block span-sm">
                                    <form action="#" method="get">
                                        {%csrf_token%}
                                        <input name="q" type="hidden" value="Exporter">
                                        <button class="btn btn-link" type="submit" formtarget="_blank">CD</button>
                                    </form>
                                </span>
                                <!-- <div class="line"></div><small>+416</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</section>

<!-- Inspectors -->
<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/RTBayanes_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-2">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Rochelle T. Bayanes</h3><span>rtbayanes@fda.gov.ph</span>
                    </a>
                    <div class="contributions">950 Contributions</div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>340</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>460</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/NDNavarro_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-1">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Nadia D. Navarro</h3><span>ndnavarro@fda.gov.ph</span>
                    </a>
                    <div class="contributions">772 Contributions</div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>80</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>420</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>272</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="/static/darkadmin/img/GGMonang_ID.jpg" alt="..." class="img-fluid">
                        <div class="order dashbg-4">II</div>
                    </div>
                    <a href="#" class="user-title">
                        <h3 class="h5">Giovanni G. Monang</h3><span>ggmonang@fda.gov.ph</span>
                    </a>
                    <div class="contributions">620 Contributions</div>
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>280</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>190</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
