 {% extends 'base-site.html' %}
{% block title %} Summary  {% endblock %}
{% block subtitle %} SUMMARY  {% endblock %}

{% block content %}
<section class="no-padding-top">
    <div class="container-fluid">
        {% for name, province in provinces.items %}
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>{{name}} Summary ({{province.get_total}})</strong>
                                <!-- <span class="d-block">Displayed is the summary of Abra</span> -->
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="block-body">
                        <!-- <strong>FOOD</strong> -->
                        <div class="table-responsive">
                            <table id="summarytable" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Product Type</th>
                                        <th data-toggle="tooltip" data-placement="top" title="Wholesaler">M</th>
                                        <th>P</th>
                                        <th>R</th>
                                        <th>T</th>
                                        <th>W</th>
                                        <th>E</th>
                                        <th>I</th>
                                        <th>W/E</th>
                                        <th>W/I</th>
                                        <th>E/I</th>
                                        <th>W/E/I</th>
                                        <th>DS</th>
                                        <th>HP</th>
                                        <th>RONPD</th>
                                        <th>XRAY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Food</td>
                                        <td>{{province.cfrr.get_total_mfg}}</td>
                                        <td>{{province.cfrr.get_total_packer}}</td>
                                        <td>{{province.cfrr.get_total_repacker}}</td>
                                        <td>{{province.cfrr.get_total_trader}}</td>
                                        <td>{{province.cfrr.get_total_wholesaler}}</td>
                                        <td>{{province.cfrr.get_total_exporter}}</td>
                                        <td>{{province.cfrr.get_total_importer}}</td>
                                        <td>{{province.cfrr.get_total_we}}</td>
                                        <td>{{province.cfrr.get_total_wi}}</td>
                                        <td>{{province.cfrr.get_total_ie}}</td>
                                        <td>{{province.cfrr.get_total_wei}}</td>
                                        <td>{{province.cfrr.get_total_ds}}</td>
                                        <td>{{province.cfrr.get_total_hp}}</td>
                                        <td>{{province.cfrr.get_total_ronpd}}</td>
                                        <td>{{province.cfrr.get_total_xray}}</td>
                                    </tr>

                                    <tr>
                                        <td>Drug</td>
                                        <td>{{province.cdrr.get_total_mfg}}</td>
                                        <td>{{province.cdrr.get_total_packer}}</td>
                                        <td>{{province.cdrr.get_total_repacker}}</td>
                                        <td>{{province.cdrr.get_total_trader}}</td>
                                        <td>{{province.cdrr.get_total_wholesaler}}</td>
                                        <td>{{province.cdrr.get_total_exporter}}</td>
                                        <td>{{province.cdrr.get_total_importer}}</td>
                                        <td>{{province.cdrr.get_total_we}}</td>
                                        <td>{{province.cdrr.get_total_wi}}</td>
                                        <td>{{province.cdrr.get_total_ie}}</td>
                                        <td>{{province.cdrr.get_total_wei}}</td>
                                        <td>{{province.cdrr.get_total_ds}}</td>
                                        <td>{{province.cdrr.get_total_hp}}</td>
                                        <td>{{province.cdrr.get_total_ronpd}}</td>
                                        <td>{{province.cdrr.get_total_xray}}</td>
                                    </tr>

                                    <tr>
                                        <td>Cosmetic</td>
                                        <td>{{province.ccrr.get_total_mfg}}</td>
                                        <td>{{province.ccrr.get_total_packer}}</td>
                                        <td>{{province.ccrr.get_total_repacker}}</td>
                                        <td>{{province.ccrr.get_total_trader}}</td>
                                        <td>{{province.ccrr.get_total_wholesaler}}</td>
                                        <td>{{province.ccrr.get_total_exporter}}</td>
                                        <td>{{province.ccrr.get_total_importer}}</td>
                                        <td>{{province.ccrr.get_total_we}}</td>
                                        <td>{{province.ccrr.get_total_wi}}</td>
                                        <td>{{province.ccrr.get_total_ie}}</td>
                                        <td>{{province.ccrr.get_total_wei}}</td>
                                        <td>{{province.ccrr.get_total_ds}}</td>
                                        <td>{{province.ccrr.get_total_hp}}</td>
                                        <td>{{province.ccrr.get_total_ronpd}}</td>
                                        <td>{{province.ccrr.get_total_xray}}</td>
                                    </tr>

                                    <tr>
                                        <td>Medical Device</td>
                                        <td>{{province.cdrrhr.get_total_mfg}}</td>
                                        <td>{{province.cdrrhr.get_total_packer}}</td>
                                        <td>{{province.cdrrhr.get_total_repacker}}</td>
                                        <td>{{province.cdrrhr.get_total_trader}}</td>
                                        <td>{{province.cdrrhr.get_total_wholesaler}}</td>
                                        <td>{{province.cdrrhr.get_total_exporter}}</td>
                                        <td>{{province.cdrrhr.get_total_importer}}</td>
                                        <td>{{province.cdrrhr.get_total_we}}</td>
                                        <td>{{province.cdrrhr.get_total_wi}}</td>
                                        <td>{{province.cdrrhr.get_total_ie}}</td>
                                        <td>{{province.cdrrhr.get_total_wei}}</td>
                                        <td>{{province.cdrrhr.get_total_ds}}</td>
                                        <td>{{province.cdrrhr.get_total_hp}}</td>
                                        <td>{{province.cdrrhr.get_total_ronpd}}</td>
                                        <td>{{province.cdrrhr.get_total_xray}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
