
<!-- Sidebar Navigation-->
<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar">
            <img src="/static/darkadmin/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="title">
            <h1 class="h5">{{user.get_full_name}}</h1>
            <p>{{user.email}}</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li  class="{{masterlist_dashboard_active}}"><a href="{% url 'dashboard:index' %}"> <i class="icon-grid"></i>Dashboard </a></li>
        <li><a href="#" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Inspection Checklist </a>
            <ul class="list-unstyled ">
                <li class="{{ ren_checklist_active }}"><a href="{% url 'checklist:index' %}">Renewal</a></li>
                <li class="{{ pli_checklist_active }}" disabled><a href="{% url 'checklist:pli' %}">PLI</a></li>
                <!--<li class="{{ routine_checklist_active }}"><a href="{% url 'checklist:routine' %}">Routine</a></li>-->
                <li class=""><a href="#">Followup</a></li>
                <!--<li><a href="#">Recent</a></li>-->
            </ul>
        </li>
        <li><a href="#" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>Master List </a>
          <ul class="list-unstyled ">
              <li class="{{alllist_active}}"><a href="{% url 'masterlist:index' %}">All</a></li>
              <li class="{{provincelist_active}}"><a href="{% url 'masterlist:abra-list' %}">Provinces</a></li>
              <!--<li class="{{abra_list_active}}"><a href="{% url 'masterlist:abra-list' %}">Abra</a></li>-->
              <!--<li class="{{apayao_list_active}}"><a href="{% url 'masterlist:apayao-list' %}">Apayao</a></li>-->
              <!--<li class="{{baguio_list_active}}"><a href="{% url 'masterlist:baguio-list' %}">Baguio City</a></li>-->
              <!--<li class="{{benguet_list_active}}"><a href="{% url 'masterlist:benguet-list' %}">Benguet</a></li>-->
              <!--<li class="{{ifugao_list_active}}"><a href="{% url 'masterlist:ifugao-list' %}">Ifugao</a></li>-->
              <!--<li class="{{kalinga_list_active}}"><a href="{% url 'masterlist:kalinga-list' %}">Kalinga</a></li>-->
              <!--<li class="{{mountain_list_active}}"><a href="{% url 'masterlist:mountain-list' %}">Mountain Province</a></li>-->
              <li class="{{expiredlist_active}}"><a href="{% url 'masterlist:expired-list' %}">Expired</a></li>
              <li class=""><a href="{% url 'admin:masterlist_establishment_changelist' %}" target="_blank">Advanced Search</a></li>
              <li class="{{summary_active}}"><a href="{% url 'masterlist:summary' %}" target="_blank">Summary</a></li>
          </ul>
        </li>
        <li><a href="tables.html"> <i class="icon-grid"></i>PMS </a></li>
        <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Applications Received </a></li>
        <li class="{{pli_active}}"><a href="{% url 'pli:index' %}"> <i class="icon-chart"></i>PLI </a></li>
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>In & Out </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li class="{{incoming_active}}"><a href="{% url 'incoming:index' %}">Incoming</a></li>
                <li class="{{outgoing_active}}"><a href="{% url 'outgoing:index' %}">Outgoing</a></li>
                <!--<li><a href="#">Page</a></li>-->
            </ul>
        </li>
        <li><a href="login.html"> <i class="icon-logout"></i>Login page </a></li>
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
    </ul>
</nav>
