<div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="title">
                <div class="row">
                    <div class="col-md-6">
                        <strong>List of Inspections</strong>
                        <span class="d-block">Displayed is the list of inspection for this establishment</span>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-secondary {{ establishment.record|yesno:"disabled," }}" href="{% url 'admin:records_record_add' %}" target="_blank">Create Folder</a>

                        <a class="btn btn-primary {{ establishment.record|yesno:",disabled" }}"
                        href={% if establishment.record %}
                        "{% url 'admin:records_record_change' establishment.record.id %}"
                        {% endif %}
                        target="_blank">Add an Inspection</a>

                    </div>
                </div>
            </div>
            <div class="block-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Date Inspected</th>
                                <th>No. of CAPA</th>
                                <th>CAPA Status</th>
                                <th>CAPA Deficiencies</th>
                                <th>Inspected by</th>
                                <th>Type</th>
                                <th>Frequency</th>
                                <th>Followup</th>
                                <th>Remarks</th>
                                <th>Inspection Report</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if inspections %}
                            {% for inspection in inspections %}
                            <tr>
                                <td><a href="{% url 'admin:records_inspection_change' inspection.id %}" target="_blank">{{inspection.date_inspected}}</a></td>
                                {% if inspection.capa %}
                                <td><a href="{% url 'admin:records_capa_change' inspection.capa.id %}" target="_blank">{{inspection.capa.capadeficiency_set.all.count}}</a></td>
                                {% else %}
                                <td>None</td>
                                {% endif %}

                                <!-- For Pending CAPA -->
                                {% if inspection.for_capa %}
                                <td>PENDING</td>
                                {% else %}
                                    {% if inspection.capa %}
                                        <td>COMPLETED</td>
                                        {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                {% endif %}

                                <!-- For CAPA Deficiencies -->
                                <td>
                                {% if inspection.for_capa %}
                                PENDING
                                {% else %}
                                    {% if inspection.capa %}
                                        {% for deficiency in inspection.capa.capadeficiency_set.all %}
                                            {{forloop.counter}}. &nbsp; ({{deficiency.type}}) {{deficiency.description}} - {{deficiency.accepted|yesno:"ACCEPTED,PENDING"}} <br>
                                        {% endfor %}

                                    {% else %}
                                    N/A
                                    {% endif %}
                                {% endif %}
                                </td>

                                <td>
                                {% for inspector in  inspection.est_inspectors.all %}
                                {% if forloop.last %}
                                    {{inspector}}
                                {% else %}
                                    {{inspector}},
                                {% endif %}
                                {% endfor %}
                                </td>
                                <td>{{inspection.type_of_inspection}}</td>
                                <td>{{inspection.frequency_of_inspection}}</td>
                                <td>{{inspection.date_of_followup_inspection.date}}</td>
                                <td>{{inspection.remarks}}</td>
                                <td>
                                    {% if inspection.inspection_report %}
                                    <a href={{inspection.inspection_report.url}} target="_blank">{{inspection.inspection_report}}</a>
                                    {% else %}
                                    No inspection report uploaded
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            No inspections yet
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
